/*---------------------------------------------------------
FONT
---------------------------------------------------------*/
@font-face {
    font-family: "monsterrat";
    src: url("./font/montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "monsterrat-bold";
    src: url("./font/montserrat/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  src: url("./font/Raleway/Raleway-Regular.ttf") format("truetype");

  
}
@font-face {
  font-family: "Raleway-bold";
  src: url("./assets/font/montserrat/Montserrat-SemiBold.ttf") format("truetype");
}
/*---------------------------------------------------------
Sroll Bar
---------------------------------------------------------*/
body::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #161616; /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #444444; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #161616; /* creates padding around scroll thumb */
  }
/*---------------------------------------------------------
BODY/HTML
---------------------------------------------------------*/
html{
    font-size: 25px;
    font-family: "monsterrat";
    background-color: #1a1a1a;
    color: #fff;
}
body{
    color: #333333;
    margin: 0%;
    font-size: 25px;
    font-family: "monsterrat";
    background-color: #1a1a1a;
    overflow-x: hidden;
    height: 1350px;
}
h1{
    color: #fff;
    font-size: 50px;
    font-family: "monsterrat-bold";
}
* {
    color: #fff;
    font-family: "monsterrat";
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
h4{
    font-size: 35px;
}
/*---------------------------------------------------------
HEADER
---------------------------------------------------------*/
/*---------------------------------------------------------
HEADER
---------------------------------------------------------*/
.burger-menu-echap, .burger-menu-slide{
  width: 50px;
  left: 95vw;
  top: 3vh;
  position: fixed;
  transition-duration: 1s;
}
.burger-menu-echap{
  display: none;
}
.header_txt{
  position: absolute;
  top: 120px;
  left: 50px;
  z-index: 1111111;
}
.header_ul_2{
  position: absolute;
  top: 0px;
  left: 430px;
}
.header_img{
  position: absolute;
  filter: none;
  left: 200px;
  width: 484px;
  height: 240px;
  left: 900px;
  top: 80px;
}
.header-mail, .header-insta, .header-discord{
  position: absolute;
  width: 66px;
  height: 66px;
}
.header-social-network{
  position: absolute;
  left: 1700px;
  top: 80px;
}
.header-discord{
  top: 80px;
}
.header-mail{
  top: 180px;
}
.header{
    position: relative;
    z-index: 111;
    width: 100vw;
    transition-duration: 1s;
}
.cacher{
  display: none;
  transition-duration: 1s;
}
.header-square{
  width: 100vw;
  height: 40vh;
  background: #131313;
}
#logo{
  font-size: 50px;
  position: fixed;
  font-family: Raleway;
  z-index: 111;
  top: 30px;
  left: 50px;
}
/*---------------------------------------------------------
HOME
---------------------------------------------------------*/
img{
  filter: invert(85%) sepia(35%) saturate(5474%) hue-rotate(348deg) brightness(103%) contrast(104%);
}
.people{
  position: absolute;
  top: 100px;
}
.txt_plp{
    position: absolute;
    width: max-content;
    left: 341px;
    top: 210px;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.hr_plp_txt{
  position: absolute;
  width: 932px;
  height: 0px;
  left: 341px;
  top: 250px;
  background: #FFB10F;
  border-radius: 20px;
  border: 1px solid #FFB10F;
}
.plp_img{
    filter: none;
    position: absolute;
    width: 250px;
    height: 250px;
    left: 169px;
    top: 300px;
    border-radius: 30px;
}
.plp_tit{
  position: absolute;
  left: 190px;
  top: 570px;
}
.plp_stat{
  position: absolute;
  left: 240px;
  top: 620px;
}
.plp1, .plp2, .plp3{
  position: absolute;
  left: 170px;
}
.plp2{
  margin-left: 350px;
}
.plp3{
  margin-left: 688px;
}
.add_friends{
  position: absolute;
  width: max-content;
  top: 685px;
  left: 206px;
}
.add_friends_but a:hover{
  background: #ff0000;
}
.add_friends_but{
  position: absolute;
  transition-duration: 1s;
  width: 13vw;
  height: 7vh;
  top: 670px;
  left: 175px;
  background: #282828;
  border-radius: 15px;
}
/*---------------------------------------------------------
SEARCH
---------------------------------------------------------*/
input::placeholder{
    color: #FFB10F;
    position: absolute;
    left: -50px;
    top: 5px;
  }
  #button{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 920px;
    top: 300px;
    filter: invert(85%) sepia(35%) saturate(5474%) hue-rotate(348deg) brightness(103%) contrast(104%);
  }
  #search{
    position: absolute;
    width: 444px;
    height: 70px;
    left: 585px;
    top: 290px;
    background: #282828;
    border: 3px solid #FFB10F;
    box-sizing: border-box;
    box-shadow: 0px 0px 81px 7px rgba(255, 255, 255, 0.1);
    border-radius: 79px;
  }
  .img_search{
    width: 48.84px;
    top: -700px;
    left: 20px;
    position: absolute relative;
  }
  .txt_search{
    position: absolute;
    width: 209px;
    height: 37px;
    left: 135px;
    top: 10px;
    font-size: 35px;
    line-height: 43px;
    color: #FFB10F;
  }
/*---------------------------------------------------------
QUESTION
---------------------------------------------------------*/
.user{
  top: -100px;
  position: absolute;
}
.user_img{
  position: absolute;
  width: 204px;
  height: 192px;
  left: 1606px;
  top: 230px;
  border-radius: 30px;
}
.user_tit{
  font-size: 50px;
  top: 440px;
  color: #FFB10F;
  font-family: monsterrat;
  left: 1568px;
  position: absolute;
}
.user_settings{
  position: absolute;
  width: 279px;
  height: 144px;
  left: 1567px;
  top: 520px;
  background: #282828;
  box-shadow: 0px 0px 81px 7px #1a1a1a;
  border-radius: 45px;
}
#user_icon_mail{
  position: absolute;
  width: 35px;
  top: 10px;
  left: 10px;
}
#user_icon_settings{
  position: absolute;
  width: 35px;
  top: 58px;
  left: 10px;
}
#settings_icon{
  position: absolute;
  left: 50px;
}
#user_icon_mail_txt{
  top: 10px;
  left: 60px;
  position: absolute;
  width: max-content;
}
#user_icon_settings_txt{
  top: 60px;
  left: 60px;
  position: absolute;
  width: max-content;
}
.mail_icon{
  top: -10px;
  position: absolute;
}
.settings_icon{
  top: 5px;
  position: absolute;
}
.icon_user{
  position: absolute;
  top: 22px;
  left: 15px;
}
/*---------------------------------------------------------
FOOTER
---------------------------------------------------------*/
.footer{
    margin-top: 1100px;
    position: absolute;
}
#footer_logo{
    font-size: 50px;
    font-family: Raleway;
  position: absolute;
  top: -100px;
  left: 220px;
}
.footer_txt1{
    left: 40vw;
    margin-top: -8vh;
    word-spacing: 100px;
    position: absolute;
}
.footer_hr{
  position: absolute relative;
  top: 5vh;
  width: 1520px;
  height: 1px;
  color: #fff;
  background: #494949;
  margin-left: 200px;
}
.footer_copy{
    color: #fff;
    position: relative;
    top: 10vh;
    left: 71.3vw;
}
.footer_real{
    color: #fff;
    position: relative;
    top: 12vh;
    left: 71.3vw;
}
.footer_real2{
  color: #fff;
  position: relative;
  top: 14vh;
  left: 71.3vw;
}
.footer_logo1{
    top: 3vh;
    margin-left: 15.5vw;
    position: relative;
    word-spacing: 200px;
    display: flex;
    align-items: center;
}
.footer_discord{
    width: 100px;
    margin-right: 200px;
    filter: invert(73%) sepia(16%) saturate(4250%) hue-rotate(350deg) brightness(105%) contrast(101%);
}

.footer_mail{
    width: 100px;
}