/*---------------------------------------------------------
FONT
---------------------------------------------------------*/
@font-face {
    font-family: "monsterrat";
    src: url("./font/montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "monsterrat-bold";
    src: url("./font/montserrat/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  src: url("./font/Raleway/Raleway-Regular.ttf") format("truetype");

  
}
@font-face {
  font-family: "Raleway-bold";
  src: url("./assets/font/montserrat/Montserrat-SemiBold.ttf") format("truetype");
}
/*---------------------------------------------------------
Sroll Bar
---------------------------------------------------------*/
body::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #161616; /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #444444; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #161616; /* creates padding around scroll thumb */
  }
/*---------------------------------------------------------
BODY/HTML
---------------------------------------------------------*/
html{
    font-size: 25px;
    font-family: "monsterrat";
    background-color: #1a1a1a;
    color: #fff;
}
body{
    color: #333333;
    margin: 0%;
    font-size: 25px;
    font-family: "monsterrat";
    background-color: #1a1a1a;
    overflow-x: hidden;
    height: 1560px;
}
h1{
    color: #fff;
    font-size: 50px;
    font-family: "monsterrat-bold";
}
* {
    color: #fff;
    font-family: "monsterrat";
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
h4{
    font-size: 35px;
}
/*---------------------------------------------------------
HEADER
---------------------------------------------------------*/
/*---------------------------------------------------------
HEADER
---------------------------------------------------------*/
.burger-menu-echap, .burger-menu-slide{
  width: 50px;
  left: 95vw;
  top: 3vh;
  position: fixed;
  transition-duration: 1s;
}
.burger-menu-echap{
  display: none;
}
.header_txt{
  position: absolute;
  top: 120px;
  left: 50px;
  z-index: 1111111;
}
.header_ul_2{
  position: absolute;
  top: 0px;
  left: 430px;
}
.header_img{
  position: absolute;
  filter: none;
  left: 200px;
  width: 484px;
  height: 240px;
  left: 900px;
  top: 80px;
}
.header-mail, .header-insta, .header-discord{
  position: absolute;
  width: 66px;
  height: 66px;
}
.header-social-network{
  position: absolute;
  left: 1700px;
  top: 80px;
}
.header-discord{
  top: 80px;
}
.header-mail{
  top: 180px;
}
.header{
    position: relative;
    z-index: 111;
    width: 100vw;
    transition-duration: 1s;
}
.cacher{
  display: none;
  transition-duration: 1s;
}
.header-square{
  width: 100vw;
  height: 40vh;
  background: #131313;
}
#logo{
  font-size: 50px;
  position: fixed;
  font-family: Raleway;
  z-index: 111;
  top: 30px;
  left: 50px;
}
/*---------------------------------------------------------
HOME
---------------------------------------------------------*/
img{
  filter: invert(85%) sepia(35%) saturate(5474%) hue-rotate(348deg) brightness(103%) contrast(104%);
}
.home_txt_intro{
  position: absolute;
  width: max-content;
  left: 341px;
  top: 210px;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.hr_plp_txt{
position: absolute;
width: 932px;
height: 0px;
left: 341px;
top: 250px;
background: #FFB10F;
border-radius: 20px;
border: 1px solid #FFB10F;
}
.info_username{
  position: absolute;
  width: 109px;
  height: 22px;
  left: 343px;
  top: 280px;
}
.info_moderation{
  position: absolute;
  width: 117px;
  height: 22px;
  left: 544px;
  top: 280px;
}
.info_1_check_img{
  position: absolute;
  width: 20.98px;
  height: 20.96px;
  left: 705px;
  top: 285px;
}
.info_1_date_txt{
  position: absolute;
  width: 49px;
  height: 21px;
  left: 760px;
  top: 280px;
}
.info_2_tit{
  position: absolute;
  width: 523px;
  height: 45px;
  left: 343px;
  top: 350px;
  color: #FFB10F;
}
.info_2_like{
  position: absolute;
  width: 41px;
  height: 41px;
  left: 343px;
  top: 451px;
}
.info_2_like_txt{
  position: absolute;
  width: 7px;
  height: 21px;
  left: 400px;
  top: 457px;
}
.info_2_share_img{
  position: absolute;
  width: 41px;
  height: 41px;
  left: 450px;
  top: 451px;  
}
.info_2_share_txt{
  position: absolute;
  width: 89px;
  height: 25px;
  left: 500px;
  top: 459px;
}
.resp{
  position: absolute;
  width: 307px;
  height: 63px;
  left: 970px;
  top: 280px;
  background: #FFB10F;
  border-radius: 15px;
}
.resp_txt{
  color: #1a1a1a;
  font-weight: 600;
  position: absolute;
  top: 15px;
  left: 85px;
}
.follow_post{
  position: absolute;
  width: 307px;
  height: 63px;
  left: 970px;
  top: 380px;
  border: 3px solid #FFB10F;
  box-sizing: border-box;
  border-radius: 15px;
  border-radius: 15px;
}
.follow_post_txt{
  color: #FFB10F;
  font-weight: 600;
  position: absolute;
  top: 15px;
  left: 45px;
}
.folllow_img{
  position: absolute;
  width: 29px;
  height: 29px;
  left: 250px; 
  top: 14px;
}
.reponse{
  position: absolute;
  width: 591px;
  height: 250px;
  left: 343px;
  top: 509px;
  border: 3px solid #FFB10F;
  box-sizing: border-box;
  border-radius: 30px;
}
.info_4{
  position: absolute;
  width: 307px;
  height: 250px;
  left: 975px;
  top: 509px;
  border: 3px solid #FFB10F;
  box-sizing: border-box;
  border-radius: 30px;
}
.info_4_like{
  width: 50px;
  position: absolute;
  top: 20px;
  left: 30px;
}
.info_4_speak{
  width: 50px;
  position: absolute;
  top: 100px;
  left: 30px;
}
.info_4_view{
  width: 50px;
  position: absolute;
  top: 170px;
  left: 30px;
}
.nb_like{
  position: absolute;
  top: 30px;
  left: 90px;
}
.nb_speak{
  position: absolute;
  top: 110px;
  left: 90px;
}
.nb_view{
  position: absolute;
  top: 180px;
  left: 90px;
}
/*---------------------------------------------------------
REPONSE
---------------------------------------------------------*/
.rep_more{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  left: 20px;
}
input::placeholder{
  color: #FFB10F;
  position: absolute;
  left: -50px;
  top: 5px;
  font-size: 25px;
}
input::selection{
  font-size: 25px;
}
#search{
  position: absolute;
  width: 450px;
  height: 40px;
  left: 80px;
  top: 20px;
  font-size: 25px;
  background: none;
  border: none;
}
.icon_picture, .icon_gif, .icon_emoji{
  width: 50px;
  position: absolute;
  top: 150px;
  left: 50px;
}
.icon_gif{
  left: 120px;
}
.icon_emoji{
  left: 190px;
}
.rep_icon{
  position: absolute;
  left: -20px;
}
.cancel{
  position: absolute;
  width: 142px;
  height: 43px;
  left: 250px;
  top: 155px;
  border: 3px solid #FFB10F;
  box-sizing: border-box;
  border-radius: 10px;
}
.cancel_txt{
  top: 2px;
  left: 15px;
  position: absolute;
}
.repondre_txt{
  top: 4px;
  left: 9px;
  position: absolute;
  color: #232220;
}
.repondre{
  position: absolute;
  width: 142px;
  height: 43px;
  left: 410px;
  top: 155px;
  background: #FFB10F;
  border-radius: 10px;
}
.reponse2{
  position: absolute;
  width: 591px;
  height: 188px;
  left: 343px;
  top: 839px;
  border: 3px solid #FFB10F;
  box-sizing: border-box;
  border-radius: 30px;
}
.rep_ser_img{
  width: 45px;
  position: absolute;
  top: 20px;
  left: 35px;
}
.user_txt{
  position: absolute;
  top: 28px;
  left: 100px;
}
.user_date{
  position: absolute;
  top: 28px;
  left: 500px;
}
.reponse2_txt{
  width: 25vw;
  position: absolute;
  top: 75px;
  left: 35px;
}
/*---------------------------------------------------------
QUESTION
---------------------------------------------------------*/
.user{
  top: -100px;
  position: absolute;
}
.user_img{
  position: absolute relative;
  z-index: 1;
  width: 204px;
  height: 192px;
  margin-left: 1606px;
  margin-top: 230px;
  border-radius: 30px;
}
.user_tit{
  font-size: 50px;
  top: 440px;
  color: #FFB10F;
  font-family: monsterrat;
  left: 1568px;
  position: absolute;
}
.user_settings{
  position: absolute;
  width: 279px;
  height: 144px;
  left: 1567px;
  top: 520px;
  background: #282828;
  box-shadow: 0px 0px 81px 7px #1a1a1a;
  border-radius: 45px;
}
#user_icon_mail{
  position: absolute;
  width: 35px;
  top: 10px;
  left: 10px;
}
#user_icon_settings{
  position: absolute;
  width: 35px;
  top: 58px;
  left: 10px;
}
#settings_icon{
  position: absolute;
  left: 50px;
}
#user_icon_mail_txt{
  top: 10px;
  left: 60px;
  position: absolute;
  width: max-content;
}
#user_icon_settings_txt{
  top: 60px;
  left: 60px;
  position: absolute;
  width: max-content;
}
.mail_icon{
  top: -10px;
  position: absolute;
}
.settings_icon{
  top: 5px;
  position: absolute;
}
.icon_user{
  position: absolute;
  top: 22px;
  left: 15px;
}
/*---------------------------------------------------------
FOOTER
---------------------------------------------------------*/
.footer{
    margin-top: 1300px;
    position: absolute;
}
#footer_logo{
    font-size: 50px;
    font-family: Raleway;
  position: absolute;
  top: -100px;
  left: 220px;
}
.footer_txt1{
    left: 40vw;
    margin-top: -8vh;
    word-spacing: 100px;
    position: absolute;
}
.footer_hr{
  position: absolute relative;
  top: 5vh;
  width: 1520px;
  height: 1px;
  color: #fff;
  background: #494949;
  margin-left: 200px;
}
.footer_copy{
    color: #fff;
    position: relative;
    top: 10vh;
    left: 71.3vw;
}
.footer_real{
    color: #fff;
    position: relative;
    top: 12vh;
    left: 71.3vw;
}
.footer_real2{
  color: #fff;
  position: relative;
  top: 14vh;
  left: 71.3vw;
}
.footer_logo1{
    top: 3vh;
    margin-left: 15.5vw;
    position: relative;
    word-spacing: 200px;
    display: flex;
    align-items: center;
}
.footer_discord{
    width: 100px;
    margin-right: 200px;
    filter: invert(73%) sepia(16%) saturate(4250%) hue-rotate(350deg) brightness(105%) contrast(101%);
}

.footer_mail{
    width: 100px;
}