/*------------------------------------------------------------

Project:	 Personal Website / Portfolio
Version:	 1.0
Date:      06-08-2022

---- TABLE OF CONTENTS ----

1.0 -
2.0 -
3.0 -
4.0 -
5.0 -
6.0 -
7.0 -
8.0 -
9.0 -
10.0 -
11.0 -
12.0 -
13.0 -
14.0 - 
--------------------------------------------------------------*/

/*--------------------------------------
1.0 - Font Import
--------------------------------------*/
/*  Montserrat  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 display=swap');

/*  Poppins  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/*--------------------------------------
2.0 - Variable
--------------------------------------*/
$col-back: #ebebeb;
$col1: #EEEEEE;
$col2: #959595;
$col3: #7E7E7E;
$col4: #383838;
$monst: 'Montserrat', sans-serif;
$pop: 'Poppins', sans-serif;



/*--------------------------------------
4.0 - Cursor
--------------------------------------*/
/* Custom Cursor */
.ppk-dot,
.ppk-dot-outline {
  z-index: 999;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.ppk-dot {
  width: 8px;
  height: 8px;
  background-color: #feac43;
  width: 0px;
}
.ppk-dot-outline {
  width: 40px;
  height: 40px;
  background-color: rgba(254, 172, 67, 0.5);
}



/*--------------------------------------------------------------
5.0 - General Styles
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #383838;
}
h1 {
  font-size: 200px;
  font-weight: 700;
}
h2 {
  font-size: 35px;
  font-weight: 500;
}
h3 {
  font-size: 32px;
  font-weight: 500;
}
h4 {
  font-size: 22px;
  font-weight: 500;
}
h5 {
  font-size: 16px;
  font-weight: 400;
}
p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #383838;
  font-size: 18px;
}
a, a:focus, a:active, span {
  text-decoration: none;
  color: inherit;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
}

a:hover{
  color: #383838;
  transition-duration: .2s;
  font-weight: 500;
}

ul {
  list-style: none none;
}
/* Selection */
::selection{
  color: $col4;
  background: #f6f6f6;
}
html,
body {
  width: 100%;
  height: 100%;
  color: #383838;
  font-family: 'Poppins', sans-serif;
  font-weight: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: hidden;
  //background: linear-gradient(90deg, rgba(226,226,226,1) 0%, rgba(158,180,192,1) 100%);
  &,
  * {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      overflow-x: visible;
      overflow-y: visible;
    }
}





/*--------------------------------------
9.0 - Content
--------------------------------------*/
main {
  section.home{
    h1{
      //font properties
      font-size: 200px;
      font-weight: 700;
      font-family: $monst;
      //positioning
      text-align: center;
      padding-top: 300px;
      line-height: 180px;
    }

    h2{
      //font properties
      font-family: $pop;
      font-weight: 500;
      font-size: 35px;
      //positioning
      text-align: center;
    }

    p{
      //font properties
      font-size: 500px;
      font-weight: 700;
      font-family: $monst;
      color: #f1f1f1;
      //positioning
      text-align: center;
      align-content: center;
      position: absolute;
      top: 400px;
      z-index: -1;
      left: 50%;
      transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    }

    .social-medias{
      //positioning
      padding-top: 145px;
      padding-left: 95px;
      display: flex;
      flex-direction: column;

      .icon{
        div{
          padding-bottom: 20px;
        }
      }

      .line{
        //properties
        width: 2px;
        height: 90px;
        background-color: $col4;
        //positioning
        align-content: center;
        text-align: center;
        margin-left: 10px;
        border-radius: 25px;
      }
    }
  }



  section.about-me{
    .text{
      p{
        //font properties
        font-size: 32px;
        font-weight: 500;
        font-family: $pop;
        color: $col4;

        //positionning
        padding-top: 300px;
        width: 1450px;
        margin: auto;
        z-index: 2;
      }
    }

    .bg-static{
      p{
        //font properties
        font-size: 300px;
        font-weight: 700;
        font-family: $monst;
        color: #EEEEEE;
        white-space: nowrap;
        position: relative;
        z-index: -11;
        margin-top: -250px;
      }
    }
  }

  section.journey{
    .journey{
      padding-top: 150px;
      display: flex;
      flex-direction: row;
      justify-content: center;

      ul{
        display: flex;
        flex-direction: column;
        .line{
          width: 3px;
          height: 350px;
          background: #EEE;
          position: absolute;
          .line2{
            width: 3px;
            height: 70px;
            background: #383838;
            position: absolute;
          }
        }

        li{
          font-size: 16px;
          font-weight: 400;
          color: #7E7E7E;
          padding: 22px 65px 23px 30px;
        }

        li:hover{
          cursor: pointer;
          color: #585858;
          font-weight: 500;
        }
      }

      .title{
        h4{
          font-size: 22px;
          font-weight: 500;
          color: #383838;
        }

        h5{
          font-size: 18px;
          font-weight: 400;
          color: #585858;
        }

        p{
          padding-top: 10px;
          width: 349px;
          font-size: 14px;
          font-weight: 400;
          color: #7b7b7b;
        }
      }
    }

    .background{
      p{
        //font properties
        font-size: 300px;
        font-weight: 700;
        font-family: $monst;
        color: #EEEEEE;
        white-space: nowrap;
        text-align: right;
        padding-top: 100px;
      }
    }
  }



  section.projects{
    padding-top: -10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .break{
      flex-basis: 100%;
      width: 0;
      height: 0;
      overflow: hidden;
    }

    .avadress, .fil, .utopia, .alone, .nwh, .flower{
      //style
      width: 250px;
      height: 250px;
      background: linear-gradient(135deg, #C3003B 0%, #FF8059 100%);
      border-radius: 15px;
      //positioning
      margin-bottom: 80px;
      margin-left: 80px;
      ///centering
      display: flex;
      justify-content: center;

      img{
        margin: auto;
      }

      .title{
        //style
        width: 250px;
        height: 50px;
        background: rgba(255, 255, 255, 0.12);
        border-radius: 0px 0px 8px 8px;
        //centering
        display: flex;
        align-items: flex-start;
        //positioning
        position: absolute;
        margin-top: 200px;
        h4{
          margin: auto;
          color: #000;
        }
      }
    }

    .fil{
      background: linear-gradient(135deg, #E8EDEC 0%, #81D8D0 100%);
      img{ transform: rotate(30deg); }
    }

    .utopia{
      background: linear-gradient(135deg, #FFFFFF 0%, #3CA990 100%);
    }

    .alone{
      background: linear-gradient(135deg, #1A1A1A 0%, #2AD4FF 100%);
    }

    .nwh{
      background: linear-gradient(135deg, #1A1A1A 0%, #FFB10F 100%);
    }

    .flower{
      background: linear-gradient(135deg, #E798AE 0%, #FFEFF4 100%);
    }

    .background{
      p{
        //font properties
        font-size: 300px;
        font-weight: 700;
        font-family: $monst;
        color: #EEEEEE;
        white-space: nowrap;
        text-align: right;
      }
    }
  }

  section.skills{
    padding-top: 100px;
    .title{
      margin: auto;
      width: 590px;
      p{
        font-size: 14px;
        color: #7E7E7E;
      }
    }

    .offer{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin-top: 50px;

      .back-end, .other{
        margin-left: 50px;
      }

      .front-end, .back-end, .other{
        h4{
          background: #EEEEEE;
          box-shadow: 0 0 14px -3px rgba(0, 0, 0, 0.25);
          border-radius: 5px;
          width: 125px;
          height: 35px;
          text-align: center;
          margin-left: 22px;
          position: absolute;
          margin-top: -17px;
        }

        .box{
          background: #F9F9F9;
          border-radius: 8px;
          width: 170px;
          height: 250px;
          p{
            text-align: left;
            padding-left: 20px;
            padding-top: 30px;
            color: #7e7e7e;
            font-size: 16px;
          }
        }
      }
    }

    .background{
      p{
        //font properties
        font-size: 300px;
        font-weight: 700;
        font-family: $monst;
        color: #EEEEEE;
        white-space: nowrap;
        text-align: right;
        padding-top: 100px;
      }
    }
  }

  section.contact{
    padding-top: 200px;
    .title{
      display: flex;
      justify-content: center;
      p{
        font-size: 18px;
        width: 650px;
      }
    }

    form{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }

    .break{
      flex-basis: 100%;
      height: 0;
      overflow: hidden;
    }

    .break{
      width: 0;
    }

    .field{
      input {
        margin: 25px 7.5px;
        border-radius: 10px;
        width: 315px;
        height: 58px;
        background: #F9F9F9;
        padding-left: 20px;
        font-family: $pop;
        font-weight: 500;
        color: #7E7E7E;
        font-size: 18px;
      }

      textarea {
        width: 650px;
        height: 200px;
        border-radius: 10px;
        background: #F9F9F9;
        padding-left: 20px;
        padding-top: 20px;
        font-family: $pop;
        font-weight: 500;
        color: #7E7E7E;
        font-size: 18px;
      }
    }

    #button{
      background: none;
      border-radius: 10px;
      padding: 7px 25px;
      font-family: $pop;
      font-weight: 500;
      color: #7E7E7E;
      font-size: 18px;
      border: 2px solid #7e7e7e;
      margin-top: 25px;
      margin-left: 555px;
    }

    .background{
      p{
        //font properties
        font-size: 300px;
        font-weight: 700;
        font-family: $monst;
        color: #EEEEEE;
        white-space: nowrap;
        text-align: right;
        padding-top: 100px;
      }
    }
  }


  .footer{
    display: flex;
    justify-content: center;

    footer{
      .top{
        display: flex;
        flex-direction: row;

        .title{
          width: 176px;
          h3{
            font-family: $pop ;
            font-weight: 600;
            font-size: 32px;
            color: #383838;
            line-height: 43px;
            span{
              font-family: $pop ;
              font-weight: 500;
              font-size: 32px;
              color: #7e7e7e;
            }
          }

          .mail{
            padding-top: 20px;
            display: flex;
            flex-direction: row;
            .icon{
              margin-right: 10px;
            }
            p{
              font-size: 14px;
            }
          }
        }

        .navigation {
          display: flex;
          flex-direction: row;
          div:not(:first-child), div:not(:nth-child(5)) {
            padding-left: 175px;
          }
          h6 {
            font-family: $pop;
            font-weight: 500;
            font-size: 20px;
          }
          li {
            font-family: $pop;
            font-size: 14px;
            color: #7E7E7E;
          }
          .explore, .follow, .blog, .other, .opt {
            display: flex;
            flex-direction: column;
          }

          .opt{
            img{
              width: 14px;
            }
          }
        }
      }


      .line{
        margin-top: 20px;
        width: 1584px;
        height: 1px;
        color: #383838;
        background: #383838;
      }


      .bottom{
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        .realise{
          span{
            font-weight: 500;
            color: #383838;
          }
        }
        .social-media{
          padding-left: 1135px;
          img{
            padding-left: 15px;
          }
        }
      }
    }
  }
}




























































@media screen and (max-width: 1200px) {
  main{
    section.home{
      h1{
        padding-top: 350px;
        font-size: 135px;
        text-align: center;
        line-height: 140px;
      }

      h2{
        font-size: 20px;
      }

      p{
        padding-top: 100px;
        writing-mode: vertical-lr;
        text-orientation: upright;
        font-size: 150px;
        text-align: center;
      }

      .social-medias{
        position: absolute;
        bottom: 0;
        left: -50px;

        .line{
          display: none;
        }
      }
    }



    section.about-me{
      padding-top: 350px;
      .text{
        p{
          font-size: 16px;
          width: 500px;
        }
      }

      .bg-static{
        p{
          top: 50px;
          margin-left: 200px;
          font-size: 100px;
        }
      }
    }



    section.journey{
      .journey{
        padding-top: 300px;
        ul{
          .line{
            width: 3px;
            height: 350px;
            .line2{
              width: 3px;
              height: 70px;

            }
          }

          li{
            font-size: 16px;
            padding: 22px 50px 23px 30px;
          }
        }
      }

      .background{
        p{
          //font properties
          font-size: 100px;
        }
      }
    }



    section.projects{
      padding-top: 100px;

      .break{
        display: none;
      }

      .avadress, .fil, .utopia, .alone, .nwh, .flower {
        zoom: 0.7;
      }

      .background{
        p{
          //font properties
          font-size: 100px;
        }
      }
    }



    section.skills{
      .title{
        margin: auto;
        width: 500px;
        h4{
          font-size: 20px;
        }
        p{
          font-size: 12px;
        }
      }

      .offer{
        .front-end, .back-end, .other{
          zoom: 0.8;
        }
      }

      .background{
        p{
          font-size: 100px;
        }
      }
    }



    section.contact{
      padding-top: 100px;
      .title{
        display: flex;
        justify-content: center;
        p{
          font-size: 12px;
          width: 520px;
        }
      }

      form{
        zoom: 0.8;
      }

      .background{
        p{
          //font properties
          font-size: 100px;
        }
      }
    }



    .footer{
      display: flex;
      justify-content: initial;
      padding-left: 20px;

      footer{
        .top{
          .title{
            display: flex;
            flex-direction: column;
            h3{
              font-size: 28px;
              line-height: 43px;
              span{
                font-size: 26px;
              }
            }

            .mail{
              .icon{
                margin-right: 10px;
              }
              p{
                font-size: 14px;
              }
            }
          }

          .navigation {
            h6 {
              font-size: 16px;
            }
            li {
              font-size: 12px;
            }

            .explore, .blog, .other{
              display: none;
            }

            div:not(:first-child), div:not(:nth-child(5)) {
              padding-left: 15vw;
            }

            .opt{
              img{
                width: 14px;
              }
            }
          }
        }


        .line{
          margin-top: 20px;
          width: 93vw;
          height: 1px;
          color: #383838;
          background: #383838;
        }


        .bottom{
          padding-top: 20px;
          display: flex;
          flex-direction: row;
          .realise{
            width: 290px;
          }

          .social-media{
            display: flex;
            justify-content: flex-end;
            width: 200px;
            padding-left: 0;
            img{
              padding-left: 15px;
            }
          }
        }
      }
    }
  }
}















@media screen and (max-width: 575px) {
  main{
    section.home{
      h1{
        padding-top: 320px;
        font-size: 100px;
        line-height: 100px;
      }
    }



    section.journey{
      .journey{
        ul{
          .line{
            width: 3px;
            height: 280px;

            .line2{
              width: 3px;
              height: 56px;
            }
          }

          li{
            font-size: 14px;
            padding: 22px 25px 15px 25px;
            //       top  right bottom left
          }
        }

        .title{
          h4{
            font-size: 20px;
          }

          h5{
            font-size: 16px;
          }

          p{
            padding-top: 10px;
            width: 300px;
            font-size: 12px;
          }
        }
      }

      .background{
        p{
          //font properties
          font-size: 100px;
        }
      }
    }



    section.projects{
      padding-top: 100px;

      .break{
        display: none;
      }

      .avadress, .fil, .utopia, .alone, .nwh, .flower {
        zoom: 0.7;
      }

      .background{
        p{
          //font properties
          font-size: 100px;
        }
      }
    }



    section.skills{
      .title{
        margin: auto;
        width: 500px;
        h4{
          font-size: 20px;
        }
        p{
          font-size: 12px;
        }
      }

      .offer{
        .front-end, .back-end, .other{
          zoom: 0.8;
        }
      }

      .background{
        p{
          font-size: 100px;
        }
      }
    }



    section.contact{
      padding-top: 100px;
      .title{
        display: flex;
        justify-content: center;
        p{
          font-size: 12px;
          width: 450px;
        }
      }

      form{
        zoom: 0.7;
      }

      .background{
        p{
          //font properties
          font-size: 100px;
        }
      }
    }



    .footer{
      display: flex;
      justify-content: initial;
      padding-left: 20px;

      footer{
        .top{
          .title{
            display: flex;
            flex-direction: column;
            h3{
              font-size: 28px;
              line-height: 43px;
              span{
                font-size: 26px;
              }
            }

            .mail{
              .icon{
                margin-right: 10px;
              }
              p{
                font-size: 14px;
              }
            }
          }

          .navigation {
            h6 {
              font-size: 16px;
            }
            li {
              font-size: 12px;
            }

            .explore, .blog, .other{
              display: none;
            }

            div:not(:first-child), div:not(:nth-child(5)) {
              padding-left: 15vw;
            }

            .opt{
              img{
                width: 14px;
              }
            }
          }
        }


        .line{
          margin-top: 20px;
          width: 93vw;
          height: 1px;
          color: #383838;
          background: #383838;
        }


        .bottom{
          padding-top: 20px;
          display: flex;
          flex-direction: row;
          .realise{
            width: 290px;
          }

          .social-media{
            display: flex;
            justify-content: flex-end;
            width: 200px;
            padding-left: 0;
            img{
              padding-left: 15px;
            }
          }
        }
      }
    }
  }
}






@media screen and (max-width: 535px) {
  main{
    .footer{
      footer{
        .bottom{
          .social-media{
            width: 170px;
            zoom: 0.9;
          }
        }
      }
    }
  }
}








@media screen and (max-width: 515px) {
  main{
    section.about-me{
      padding-top: 350px;
      .text{
        p{
          font-size: 14px;
          width: 450px;
        }
      }

      .bg-static{
        p{
          top: 85px;
          margin-left: 200px;
          font-size: 70px;
        }
      }
    }

    section.journey{
      .background{
        p{
          //font properties
          font-size: 70px;
        }
      }
    }

    section.projects{
      .avadress, .fil, .utopia, .alone, .nwh, .flower {
        zoom: 0.6;
      }

      .background{
        p{
          //font properties
          font-size: 70px;
        }
      }
    }



    section.skills{
      .title{
        margin: auto;
        width: 410px;
        h4{
          font-size: 20px;
        }
        p{
          font-size: 12px;
        }
      }

      .offer{
        .front-end, .back-end, .other{
          zoom: 0.7;
        }
      }

      .background{
        p{
          font-size: 70px;
        }
      }
    }



    section.contact{
      padding-top: 100px;
      .title{
        display: flex;
        justify-content: center;
        p{
          font-size: 12px;
          width: 415px;
        }
      }

      form{
        zoom: 0.65;
      }

      .background{
        p{
          //font properties
          font-size: 70px;
        }
      }
    }



    .footer{
      padding-top: 10px;
      display: flex;
      justify-content: initial;
      padding-left: 20px;

      footer{
        .top{
          .title{
            display: flex;
            flex-direction: column;
            h3{
              font-size: 28px;
              line-height: 43px;
              span{
                font-size: 26px;
              }
            }

            .mail{
              .icon{
                margin-right: 10px;
              }
              p{
                font-size: 12px;
              }
            }
          }

          .navigation {
            h6 {
              font-size: 16px;
            }
            li {
              font-size: 12px;
            }

            .explore, .blog, .other{
              display: none;
            }

            div:not(:first-child), div:not(:nth-child(5)) {
              padding-left: 15vw;
            }

            .opt{
              img{
                width: 14px;
              }
            }
          }
        }


        .line{
          margin-top: 20px;
          width: 93vw;
          height: 1px;
          color: #383838;
          background: #383838;
        }


        .bottom{
          padding-top: 20px;
          display: flex;
          flex-direction: row;
          .realise{
            width: 290px;
          }

          .social-media{
            display: flex;
            justify-content: flex-end;
            width: 200px;
            padding-left: 0;
            img{
              padding-left: 15px;
            }
          }
        }
      }
    }
  }
}


























@media screen and (max-width: 515px) {
  main{
    section.home{
      h1{
        padding-top: 350px;
        font-size: 80px;
        line-height: 85px;
      }

      h2{
        font-size: 16px;
      }
    }



    section.about-me{
      padding-top: 350px;
      .text{
        p{
          font-size: 12px;
          width: 300px;
        }
      }
    }

    section.journey{
      .background{
        p{
          //font properties
          font-size: 70px;
        }
      }
    }

    section.projects{
      .avadress, .fil, .utopia, .alone, .nwh, .flower {
        zoom: 0.6;
      }

      .background{
        p{
          //font properties
          font-size: 70px;
        }
      }
    }



    section.skills{
      .title{
        margin: auto;
        width: 410px;
        h4{
          font-size: 20px;
        }
        p{
          font-size: 12px;
        }
      }

      .offer{
        .front-end, .back-end, .other{
          zoom: 0.7;
        }
      }

      .background{
        p{
          font-size: 70px;
        }
      }
    }



    section.contact{
      padding-top: 100px;
      .title{
        display: flex;
        justify-content: center;
        p{
          font-size: 12px;
          width: 415px;
        }
      }

      form{
        zoom: 0.65;
      }

      .background{
        p{
          //font properties
          font-size: 70px;
        }
      }
    }



    .footer{
      padding-top: 10px;
      display: flex;
      justify-content: initial;
      padding-left: 20px;

      footer{
        .top{
          .title{
            display: flex;
            flex-direction: column;
            h3{
              font-size: 28px;
              line-height: 43px;
              span{
                font-size: 26px;
              }
            }

            .mail{
              .icon{
                margin-right: 10px;
              }
              p{
                font-size: 12px;
              }
            }
          }

          .navigation {
            h6 {
              font-size: 16px;
            }
            li {
              font-size: 12px;
            }

            .explore, .blog, .other{
              display: none;
            }

            div:not(:first-child), div:not(:nth-child(5)) {
              padding-left: 15vw;
            }

            .opt{
              img{
                width: 14px;
              }
            }
          }
        }


        .line{
          margin-top: 20px;
          width: 93vw;
          height: 1px;
          color: #383838;
          background: #383838;
        }


        .bottom{
          padding-top: 20px;
          display: flex;
          flex-direction: row;
          .realise{
            width: 290px;
          }

          .social-media{
            display: flex;
            justify-content: flex-end;
            width: 200px;
            padding-left: 0;
            img{
              padding-left: 15px;
            }
          }
        }
      }
    }
  }
}